<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <ul class="nav navbar-nav">
        </ul>
        <form class="navbar-form navbar-left" role="search" action="/games" method="GET">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter game name ..." name="search">
                <select class="form-control" name="type">
                    <option value="Any">Any types</option>
                    <option value="MMORPG">MMORPG</option>
                    <option value="FPS">FPS</option>
                    <option value="Sandbox">Sandbox</option>
                    <option value="RPG">RPG</option>
                </select>
                <input type="number" class="form-control" placeholder="Year" name="year" min="1900" max="2018">
                <input type="number" class="form-control" placeholder="Min $" name="priceMin" min="0" max="999">
                <label>-</label>
                <input type="number" class="form-control" placeholder="Max $" name="priceMax" min="0" max="999">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/shopping-cart/">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart
                        <span class="badge">{{session.cart.totalQty}}</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> {{user.email}} <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {{# if login }}
                            <li><a href="/user/profile">User Account</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/user/logout">Logout</a></li>
                        {{ else }}
                            <li><a href="/user/signup">Sign up</a></li>
                            <li><a href="/user/signin">Sign in</a></li>
                        {{/if}}

                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>