<div class="container">
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">

            <li  id="home"><a href="#"><i class="fa fa-home fa-fw"></i>Home</a></li>
            <li class="active" ><a href="/change-password"><i class="glyphicon glyphicon-plus"></i> Change Password</a></li> <br>
            <li class="panel panel-default" id="dropdown_Products">
                <a data-toggle="collapse" href="#dropdown-lvl1">
                    <span class="glyphicon glyphicon-inbox"></span> Products <span class="caret"></span>
                </a>
                <div id="dropdown-lvl1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a href="/add-product"><i class="glyphicon glyphicon-plus"></i> Adding New Product</a></li> <br>
                            <li><a href="/edit-product"><i class="glyphicon glyphicon-pencil"></i> Product Management</a></li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="panel panel-default" id="dropdown_Users">
                <a data-toggle="collapse" href="#dropdown-lvl2">
                    <span class="glyphicon glyphicon-inbox"></span> Users <span class="caret"></span>
                </a>
                <div id="dropdown-lvl2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">

                            <li><a href="/edit-user"><i class="glyphicon glyphicon-pencil"></i> User Management</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    {{# if login}}
        <div class="col-md-9 well">
            <h1> Edit User Information</h1>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="title">Email</label>
                            {{user.email}}
                        </div>
                        <div class="form-group">
                            <label for="oldPassword">Password (*)</label>
                            <input type="password" id="oldPassword" name="oldPassword" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="newPassword">New Password (*)</label>
                            <input type="password" id="newPassword" name="newPassword" class="form-control">
                        </div>

                       <!-- <div class="form-group">
                            <label for="rePassword">Confirm Password (*)</label>
                            <input type="password" id="rePassword" name="rePassword" class="form-control">
                        </div>-->
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                        <button type="submit" class="btn btn-success">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{ else }}
        <script type="text/javascript">
            alert("bạn chưa đăng nhập!");
            window.location = '/';
        </script>
    {{/if}}
</div>
</div>

<div class="container">

</div>
