<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">

                <li class="active" id="home"><a href="#"><i class="fa fa-home fa-fw"></i>Home</a></li>
                <li><a href="/edit-user"><i class="glyphicon glyphicon-pencil"></i> Change Password</a></li>
                <li class="panel panel-default" id="dropdown_Products">
                    <a data-toggle="collapse" href="#dropdown-lvl1">
                        <span class="glyphicon glyphicon-inbox"></span> Products <span class="caret"></span>
                    </a>
                    <div id="dropdown-lvl1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="/add-product"><i class="glyphicon glyphicon-plus"></i> Adding New Product</a></li> <br>
                                <li><a href="/edit-product"><i class="glyphicon glyphicon-pencil"></i> Product Management</a></li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="panel panel-default" id="dropdown_Users">
                    <a data-toggle="collapse" href="#dropdown-lvl2">
                        <span class="glyphicon glyphicon-inbox"></span> Users <span class="caret"></span>
                    </a>
                    <div id="dropdown-lvl2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="/edit-user"><i class="glyphicon glyphicon-pencil"></i> User Management</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        {{# if login}}
                <div class="col-md-9 well">
                    <h1> Edit User Information</h1>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <form action="" method="post">
                                <div class="form-group">
                                    <label for="title">Email</label>
                                    {{user.email}}
                                </div>
                                <div class="form-group">
                                    <label for="name">Name(*)</label>
                                    <input type="text" id="name" name="name" class="form-control" value="{{user.name}}">
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input type="number" id="phone" name="phone" class="form-control" value="{{user.phone}}">
                                </div>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" id="address" name="address" class="form-control" value="{{user.address}}">
                                </div>
                                <div class="form-group" id = "role_check">
                                    <label for="role">role</label><br>
                                    <input type="radio" id="role" name="role" value="admin" checked> Admin <br>
                                    <input type="radio" id="role" name="role" value="user"> User <br>
                                </div>
                                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                                <button type="submit" class="btn btn-success">Save changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {{ else }}
            <script type="text/javascript">
                alert("bạn chưa đăng nhập!");
                window.location = '/';
            </script>
        {{/if}}
    </div>
</div>

<div class="container">

</div>
