<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">

                <li class="active" id="home"><a href="#"><i class="fa fa-home fa-fw"></i>Home</a></li>
                <li><a href="/change-password"><i class="glyphicon glyphicon-plus"></i> Change Password</a></li> <br>

                <li class="panel panel-default" id="dropdown_Products">
                    <a data-toggle="collapse" href="#dropdown-lvl1">
                        <span class="glyphicon glyphicon-inbox"></span> Products <span class="caret"></span>
                    </a>
                    <div id="dropdown-lvl1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="/add-product"><i class="glyphicon glyphicon-plus"></i> Adding New Product</a></li> <br>
                                <li><a href="/edit-product"><i class="glyphicon glyphicon-pencil"></i> Product Management</a></li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="panel panel-default" id="dropdown_Users">
                    <a data-toggle="collapse" href="#dropdown-lvl2">
                        <span class="glyphicon glyphicon-inbox"></span> Users <span class="caret"></span>
                    </a>
                    <div id="dropdown-lvl2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">

                                <li><a href="/edit-user"><i class="glyphicon glyphicon-pencil"></i> User Management</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-9 well">
            <h1> Edit User Information</h1>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="title">Email</label>
                            {{user.email}}
                        </div>
                        <div class="form-group">
                            <label for="url">Name</label>
                            <div>{{user.name}}</div>
                        </div>
                        <div class="form-group">
                            <label for="description">Phone</label>
                            <div>{{user.phone}}</div>
                        </div>
                        <div class="form-group">
                            <label for="price">Address</label>
                            <div>{{user.address}}</div>
                        </div>

                        <button class="btn btn-success"><a href="/edit-user-form/{{user.id}}">Edit</a></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Sign Up</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/signup" method="post">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>

            <div class="form-group">
                <label for="role">role</label><br>
                <input type="radio" id="role" name="role" value="admin" checked> Admin <br>
                <input type="radio" id="role" name="role" value="user"> User <br>
            </div>

            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-primary">Sign Up</button>

        </form>
    </div>
</div>
-->
