<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Sign Up</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/signup" method="post">
            <div class="form-group">
                <label for="name">Name (*)</label>
                <input type="text" id="name" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="number" id="phone" name="phone" class="form-control">
            </div>
            <div class="form-group">
                <label for="address">Adress</label>
                <input type="text" id="address" name="address" class="form-control">
            </div>

            <div class="form-group">
                <label for="email">E-Mail (*)</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>

            <div class="form-group">
                <label for="password">Password (*)</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>

            <div class="form-group">
                <label for="rePassword">Confirm Password (*)</label>
                <input type="password" id="rePassword" name="rePassword" class="form-control">
            </div>

            <input type="hidden" id="role" name="role" value="user">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>
