.thumbnail img {
    max-height: 150px;
}

.thumbnail .description {
    color: #7f7f7f;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.comment-wrapper
{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e1e1e1;
    height: auto;
    width: 750px;
    color: #444;
}

.comments-list
{
    height: auto;
    font-size: 13px;
    margin: 10px 5px 5px 5px;
    color: #555;
}

ul.comments-holder-ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    overflow: hidden;
}

ul.comments-holder-ul li.comment-holder
{
    list-style-type: none;
    height: auto;
    width: auto;
    margin: 5px 0 5px 0;
    border: 1px solid #e1e1e1;
    overflow: hidden;
    position: relative;
}

ul.comments-holder-ul li.comment-holder:hover
{
    border: 1px solid #b1b1b1;
}

ul.comments-holder-ul li.comment-holder .user-img
{
    float: left;
    height: 65px;
    width: 65px;
    max-height: 65px;
    max-width: 65px;
    margin: 0 10px 0 0;
}

ul.comments-holder-ul li.comment-holder .user-img img.user-img-pic
{
    width: 55px;
    height: auto;
    margin: 5px;
    border: 1px solid #a1a1a1;
}

ul.comments-holder-ul li.comment-holder .user-img img.user-img-pic:hover
{
    border: 1px solid #515151;
}

.comment-body
{
    width: auto;
}
ul.comments-holder-ul li.comment-holder h3.panel-title
{
    margin: 5px 0 0 10px;
    color: #166dff;
}

ul.comments-holder-ul li.comment-holder h3.panel-title:hover
{
    color: #1655aa;
}

ul.comments-holder-ul li.comment-holder .comment-text
{
    display: block;
    width: auto;
    font-size: 13px;
    text-align: justify;
    padding: 5px;
    margin: 0 10px 0 75px;
}

ul.comments-holder-ul li.comment-holder:hover .comment-buttons-holder
{

}

.comment-buttons-holder
{
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 20px;
}

.comment-buttons-holder ul
{
    list-style-type: none;
    width: auto;
    height: auto;
    overflow: hidden;
}

.comment-buttons-holder ul li
{
    float: right;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background: #2E5CB8;
    cursor: pointer;
}

.comment-buttons-holder ul li:hover
{
    color: #444;
    background: #6D8DCD;
}

.comment-insert
{
    height: 150px;
    width: auto;
    margin: 10px 5px 10px 5px;
    border: 1px solid #e1e1e1;
    position: relative;
}

.comment-insert h3.who-says
{
    height: 35px;
    width: auto;
    line-height: 27px;
    color: #2E5CB8;
    font-size: 14px;
    margin: 0 10px 0 10px;
    border-bottom: 1px solid #e1e1e1;
}

.comment-insert h3.who-says span
{
    color: #444;
}

.comment-insert .comment-insert-container
{
    margin: 5px 10px 5px 10px;
    border: 1px solid #e1e1e1;
    width: auto;
    min-height: 100px;
    position: relative;
}

.comment-insert .comment-insert-container:hover
{
    border: 1px solid #a1a1a1;
}

.comment-insert textarea.comment-insert-text
{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border: none;
    width: 100%;
    height: 100%;
    color: #555;
}

.comment-post-btn-wrapper
{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 60px;
    height: 25px;
    line-height: 22px;
    background: #739cef;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #fff;
}

.comment-post-btn-wrapper:hover
{
    background: #4873c9;
    color: #fff;
}

.product-details-image
{
    max-width: 500px;
    max-height: 500px;
}

.product-details-image img
{
    max-width: 100%;
    max-height: 100%;
}
.carousel-control {
    padding-top:10%;
    width:5%;
}

.page-number{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

