<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="../user/profile"><i class="fa fa-home fa-fw"></i>Home</a></li>
                <li><a href="/change-password"><i class="glyphicon glyphicon-plus"></i> Change Password</a></li> <br>
                <li class="active panel panel-default" id="dropdown">
                    <a data-toggle="collapse" href="#dropdown-lvl1">
                        <span class="glyphicon glyphicon-inbox"></span> Products <span class="caret"></span>
                    </a>
                    <div id="dropdown-lvl1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="/add-product"><i class="glyphicon glyphicon-plus"></i> Adding New Product</a></li> <br>
                                <li><a href="/edit-product"><i class="glyphicon glyphicon-pencil"></i> Product Management</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="panel panel-default" id="dropdown_Users">
                    <a data-toggle="collapse" href="#dropdown-lvl2">
                        <span class="glyphicon glyphicon-inbox"></span> Users <span class="caret"></span>
                    </a>
                    <div id="dropdown-lvl2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">

                                <li><a href="/edit-user"><i class="glyphicon glyphicon-pencil"></i> User Management</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-9 well">
            {{# if login}}
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <h1> Add new product</h1>
                        <form action="" method="post">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" id="title" name="title" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="url">Image URL</label>
                                <input type="text" id="url" name="url" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" id="description" name="description" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="price">Price($)</label>
                                <input type="number" id="price" name="price" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="type">Game type: </label>
                                <input type="text" id="type" name="type" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="publisher">Publisher: </label>
                                <input type="text" id="publisher" name="publisher" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="developer">Developer: </label>
                                <input type="text" id="developer" name="developer" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="platform">Platform: </label>
                                <input type="text" id="platform" name="platform" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="releaseYear">Release Year: </label>
                                <input type="number" id="releaseYear" name="releaseYear" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success" href="/add-product/add">Add</button>
                        </form>
                    </div>
                </div>
            {{ else }}
                <script type="text/javascript">
                    alert("bạn chưa đăng nhập!");
                    window.location = '/';
                </script>
            {{/if}}
        </div>
    </div>
</div>

