<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="../user/profile"><i class="fa fa-home fa-fw"></i>Home</a></li>
                <li><a href="/change-password"><i class="glyphicon glyphicon-plus"></i> Change Password</a></li>
                <br>
                <li class="active panel panel-default" id="dropdown">
                    <a data-toggle="collapse" href="#dropdown-lvl1">
                        <span class="glyphicon glyphicon-inbox"></span> Products <span class="caret"></span>
                    </a>

                    <div id="dropdown-lvl1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="/add-product"><i class="glyphicon glyphicon-plus"></i> Adding New
                                    Product</a></li>
                                <br>
                                <li><a href="/edit-product"><i class="glyphicon glyphicon-pencil"></i> Product
                                    Management</a></li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="panel panel-default" id="dropdown_Users">
                    <a data-toggle="collapse" href="#dropdown-lvl2">
                        <span class="glyphicon glyphicon-inbox"></span> Users <span class="caret"></span>
                    </a>

                    <div id="dropdown-lvl2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">

                                <li><a href="/edit-user"><i class="glyphicon glyphicon-pencil"></i> User Management</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-9 well">
            {{# if login}}
                <div class="panel panel-default pull-right">
                    <!-- Default panel contents -->

                    <div class="panel-heading clearfix">
                        <h3>Current products</h3>
                        <form class="form-inline pull-left" action="/edit-product/products" method="get">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter game name ..." name="search">
                                <button type="submit" class="btn btn-default">Search</button>
                            </div>
                        </form>
                    </div>
                    <!-- Table -->
                    <table class="table">
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Product's Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                        {{#each products}}
                            <tr>
                                <td></td>
                                <td class="thumbnail"><img src="{{ this.imagePath }}" alt="..." class="img-responsive">
                                </td>
                                <td>{{ this.title }}</td>
                                <td>{{ this.description }}</td>
                                <td class="price">${{ this.price }}</td>
                                <td><a href="/edit-product-form/{{this._id}}">
                                    <button type="button" class="btn btn-primary">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                </a></td>
                                <td><a href="/delete-product/delete/{{this._id}}">
                                    <button type="button" class="btn btn-danger" href="#">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </a>
                                </td>
                            </tr>
                        {{/each}}
                    </table>
                </div>
            {{ else }}
                <script type="text/javascript">
                    alert("bạn chưa đăng nhập!");
                    window.location = '/';
                </script>
            {{/if}}
        </div>
    </div>
</div>