<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="product-details-image" align="center">
            <img src="{{product.imagePath}}" alt="..." class="img-rounded">
        </div>
        <br><br>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{product.title}}</h3>
            </div>
            <div class="panel-body">
                <p>Description: {{product.description}}</p>

                <p>Game type: {{product.type}}</p>

                <p>Developer: {{product.developer}}</p>

                <p>Publisher: {{product.publisher}}</p>

                <p>Platform: {{product.platform}}</p>

                <p>Release: {{product.releaseYear}}</p>

                <p>Current Price: ${{product.price}}</p>
                <input type="hidden" id="productId" value="{{product._id}}">
            </div>
        </div>
    </div>
</div>
<!-- Related Product -->
<div class="row">
    {{#if relatedMessage}}
        <h3>Products with the same type:</h3>

        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        {{#each relatedProductsActive}}
                            <div class="col-xs-6 col-md-3"><a href="/product-details/{{this._id}}"
                                                              class="thumbnail"><img src="{{this.imagePath}}"
                                                                                     alt="Image"
                                                                                     class="img-responsive"></a>
                            </div>
                        {{/each}}
                    </div>
                </div>
                {{#each relatedProductNonActive}}
                    <div class="item">
                        <div class="row">
                            {{#each this}}
                                <div class="col-xs-6 col-md-3"><a href="/product-details/{{this._id}}"
                                                                  class="thumbnail"><img src="{{this.imagePath}}"
                                                                                         alt="Image"
                                                                                         class="img-responsive"></a>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                {{/each}}
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>

            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        <!--/myCarousel-->
    {{else}}
        <h3>Currently there is no product with the same type.</h3>
    {{/if}}
</div>

</div>
<br><br>
<!-- Comment -->
<div class="row">
    <div class="comment-wrapper">
        <div class="panel-heading">
            <h3 class="panel-title">User Reviews</h3>
        </div>

        <!-- Comment Insert -->
        <div class="comment-insert">
            {{#if login}}
                <h3 class="who-says"><span>Posting as:</span> {{user.email}}</h3>
                <input type="hidden" id="userEmail" value="{{user.email}}">
            {{ else }}
                <h3 class="who-says"><a href="/user/signin">Sign in</a></h3>
            {{/if}}
            <div class="comment-insert-container">
                <textarea id="comment-post-text" class="comment-insert-text"></textarea>
            </div>
            {{#if login}}
                <div id="comment-post-btn" class="comment-post-btn-wrapper">
                    Post
                </div>
            {{/if}}
        </div>

        <!-- Comment List -->
        <div class="comments-list">
            <ul class="comments-holder-ul">
                {{#each comments}}
                    <li class="comment-holder" id="_1">
                        <div class="user-img">
                            <img src="/images/user_default.png" class="user-img-pic"/>
                        </div>
                        <div class="comment-body">
                            <h3 class="panel-title">
                                {{this.email}}
                            </h3>

                            <div class="comment-text">
                                {{this.details}}
                            </div>
                        </div>

                        <div class="comment-buttons-holder">
                            <ul>
                                <li class="delete-btn">X</li>
                            </ul>
                        </div>
                    </li>
                {{/each}}
            </ul>
            <!-- Track page -->
            <input type="hidden" id="page-number" value="{{pageNumber}}">
            {{#if loadMore}}
                <div class="page-number">
                    <button class="btn btn-primary" id="loadMoreBtn">Load more</button>
                </div>
            {{/if}}
        </div>
    </div>
</div>
<br><br><br><br>